
<!DOCTYPE HTML>
<html>
<head>
    <title>NOVELLA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        label {
          display: block;
          margin-top: 10px;
        }

        .card-container.card {
          max-width: 350px !important;
          padding: 40px 40px;
        }

        .card {
          background-color: #f7f7f7;
          padding: 20px 25px 30px;
          margin: 0 auto 25px;
          margin-top: 50px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }

        .profile-img-card {
          width: 96px;
          height: 96px;
          margin: 0 auto 10px;
          display: block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }

        select {
            width: 200px; /* 원하는 너비설정 */
            padding: .8em .5em; /* 여백으로 높이 설정 */
            font-family: inherit; /* 폰트 상속 */
            background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
            no-repeat 95% 50%; /* 네이티브 화살표 대체 */
            border: 1px solid #999;
            border-radius: 0px; /* iOS 둥근모서리 제거 */
            -webkit-appearance: none; /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none; }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
