{{>layout/header}}

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="#">goneone</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
        
         <li class="nav-item">
           <a class="nav-link" href="/form.html">회원가입</a>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </div>
   </nav> 
 
    <div class="col-md-12">
        <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        <br/>
        <br/>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>내용</th>
                </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{author}}</td>
                    <td>{{content}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
	    <div class="col-md-4">

	        <a href="/" role="button" class="btn btn-secondary">취소</a>
	        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
	        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
	    </div>
	</div>

{{>layout/footer}}